useDynLib(blockmodeling,.registration = TRUE)

#importFrom(sna, gplot)

importFrom("grDevices", "gray", "grey")
importFrom("graphics", "mtext", "par", "plot.default", "rect", "segments", "text", "title")
importFrom("methods", "as")
importFrom("stats", "as.dist", "median", "na.omit", "optimize", "runif")
importFrom("utils", "read.table", "write.table")

export(check.these.par, crit.fun, opt.par, opt.random.par, opt.these.par) #basic front end functions
export(genRandomPar) 
export(plot.mat,plot.mat.nm)
#export(plot.check.these.par, plot.crit.fun, plot.opt.more.par, plot.opt.more.par.mode, plot.opt.par, plot.opt.par.mode)
export(sedist)
export(rand, rand2, crand, crand2) 
export(nkpar, nkpartitions) #recieved my mail
export(gplot1, gplot2)
export(find.m, find.m2, find.cut)
export(ss, ad)
export(ircNorm)
export(clu, err, IM, reorderImage, partitions)
export(one2two, two2one)
export(recode, formatA)
export(fun.by.blocks)
export(loadnetwork, loadnetwork2, loadmatrix, loadvector, loadvector2, loadpajek, savematrix, savenetwork, savevector, savecluster, savepajek)
export(REGD.for, REGD.ow.for, REGE, REGE.for, REGE.nm.for, REGE.nm.diag.for, REGE.ow.for, REGE.ownm.for, REGE.ownm.diag.for, REGE.ow, REGE.FC, REGE.FC.ow, REGD.ne.for, REGD.ow.ne.for,REGE.ne.for, REGE.nm.ne.for, REGE.ow.ne.for, REGE.ownm.ne.for) #REGE - some White's

S3method(plot,check.these.par)
S3method(plot,crit.fun)
S3method(plot,mat)
S3method(plot,opt.more.par)
S3method(plot,opt.more.par.mode)
S3method(plot,opt.par)
S3method(plot,opt.par.mode)

S3method(fun.by.blocks,opt.more.par)
S3method(fun.by.blocks,default)
